* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 3.5rem;  
  font-weight: 800;
  margin: 0;
  color: #282c34;
}

h1 span {
color: #f58d47;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #282c34;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgb(100, 99, 99);
}

h4 {
color: #f58d47;
text-transform: uppercase;
}

hr {
  border: none;
  height: 1px;
  margin: 0;
  background: rgb(99, 99, 99);
  opacity: 50%;
}


.nav {
  background-color: #282c34;
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;    
  position: fixed;
  z-index: 10;
}

.nav-content {
  color: #fff;
  text-align: center;
}


.profile-img img {
  width: 160px;
  border: 4px solid #f58d47;       
  border-radius: 50%;
}

.nav-content ul {
  list-style: none;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}

.nav-content ul li a{
  padding: 2px 12px;
  color: #aaaaaa;   
  text-transform: uppercase;
  font-weight: bold; 
  line-height: 1.8em;
  font-size: 1.125em;
}

.nav-content ul li a:hover {
  color: #fff;
  transition: ease-in-out 200ms ;
}



/* MAIN CONTENT */

.container {
  background: #fff;
  width: 960px;
  margin-left: 200px;
  padding-left: 32px;
}

.resume-section {
  padding-top: 18vh;
  padding-bottom: 3rem;
}

.resume-section p {
  margin: 48px 0;
}

#info {
  margin: 0 40px 0 0;
  text-align: center;
  text-transform: none;
  font-size: 1rem;
  color: #6b6b6b;
  font-weight: bold;
  letter-spacing: .05em;
}

#info span {
  color: #ff9650;
}


#about {
  padding-top: 20vh;
}

.item-subtitle {
  display: flex;
}

.item-subtitle h4 {
  flex-grow: 1;
  text-transform: none;
  
}

.conteudo p {
  max-width: 760px;
}

.item-data {
  text-align: right;
  align-self: flex-end;
}

.item-data h4 {
  color: #ff8d41;
  font-weight: 700;
  font-size: .875em;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: .05em;
}

.social-media ul {
  display: flex;
  max-width: 760px;
  justify-content: center;
}

.social-media a {
  margin-right: 24px;
  
}

.social-media a i:hover {
  color: #f58d47;
  transition: 300ms ease-out;
}

@media (max-width: 739px) {
  .nav {
      width: 100%;
      max-height: 72px;
  }
  .container {
    margin: 0  20px auto auto;      
  }
  .nav-content {
      display: flex;
      margin-left: 32px;
      max-height: 72px;

  }
  .profile-img {
      margin: auto 0;
  }
  .nav-content img {
      width: 56px;
      margin: 0;
      border: 2px solid #f58d47;
  }
  .nav-content ul {
      display: flex;
      flex-wrap: wrap;
      text-align: left;    
      padding: 4px 0 4px 10px;  
    }
  .nav-content ul li {
    font-size: 0.6em;
    width: 100px;
    margin-top: 2px;
  }

  .resume-section {
      padding-top: 10vh;
  }
  h1 {
      font-size: 2em;
  }
}

/* ICONS */

.fa-github, .fa-linkedin{
  font-size: 3em;
  color: #282c34;
}

.skills-logo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.skills-logo li {
  padding-right: 24px;
  align-self: center;
  margin-top: 12px;
}

.skills-logo img {
  max-width: 48px;
  max-height: 48px;
}

